/**********/
/* Footer */
/**********/
footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}
.footer {
    margin: auto;
    text-align:center;
    padding: 20px;
}

/*****************/
/* Upload Screen */
/*****************/
.field-container{
  float: left;
}

.params-container{
  overflow: hidden;
}